<!-- Version Tabs -->
<div>
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#master" aria-controls="master" role="tab" data-toggle="tab" class="master-tab">
          MASTER
        </a>
      </li>

    {{#each this.versions}}
      <li role="presentation">
        <a href="#ver-{{this.id}}" aria-controls="ver-{{this.id}}" role="tab" data-toggle="tab" class="version-tab" data-version-id="{{this.id}}">
          <span contenteditable="true" class="version-name-input" data-version-id="{{this.id}}">{{this.name}}</span>
        </a>
      </li>
    {{/each}}

      <li role="presentation">
        <a href="#ver-new" aria-controls="ver-new" role="tab" data-toggle="tab">
          <span contenteditable="true" class="new-version-input">New Version</span>
        </a>
      </li>
  </ul>
</div>
