{{#each documents}}
  <div class="panel panel-doc doc-master-container" data-doc-id={{this.id}}>
    <div class="panel-heading {{json.style}}">
      {{>doc-title-group}}
    </div>
    <div class="panel-body" id="doc-{{this.id}}-content">  <!-- add class collapse to have it start collapsed-->
      <div class="doc-version-container" data-doc-id={{this.id}}>
        {{>doc-version-tabs}}
      </div>
      <div class="doc-content-container" data-parent-id={{this.id}} data-parent-type="Document">
        {{>doc-content}}
      </div>
    </div>
  </div>
{{/each}}
