{{#each this.children}}
  <div class="{{this.style}}">
    <h2>{{this.content}}</h2>
  </div>
  {{#each this.children}}
    <div class="{{this.style}}">
      <h3>{{this.content}}</h3>
    </div>
    {{#each this.children}}
      <ul>
        <div class="{{this.style}}">
          <li>{{this.content}}</li>
        </div>
      </ul>
    {{/each}}
  {{/each}}
{{/each}}
