{{#each this.children}}
    <div class="doc-content-row">
      <div class="doc-content">
        <span contenteditable="true" class="doc-content-input" data-target="{{this.id}}">
          <div class="{{this.style}}">{{this.content}}</div>
        </span>
      </div>
      <span>
        <button type="button" class="btn btn-link btn-sm include-content-button" data-target="{{this.id}}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </span>
      <span>
        <button type="button" class="btn btn-link btn-sm remove-content-button" data-target="{{this.id}}">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
      </span>
    </div>
    <div class="doc-content-container" data-parent-id={{this.id}} data-parent-type="section">
      {{>doc-content}}
    </div>
{{/each}}

<div class="new-content">
  <span contenteditable="true" class="new-content-input">
    <div class="{{this.style}} small">enter new content here</div>
  </span>
</div>
