{{#each this.children}}
    <div class="doc-content-group" data-sect-id={{this.id}} data-level={{this.style}}>
      <div class="doc-content">
        <span contenteditable="true" class="doc-content-input" data-target="{{this.id}}">
          <div class="level-{{this.style}}">{{this.content}}</div>
        </span>
      </div>
      <span>
        <button type="button" class="hide btn btn-link btn-sm add-tag-button" data-target="{{this.id}}">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
      </span>
      <span>
        <button type="button" class="hide btn btn-link btn-sm delete-tag-button" data-target="{{this.id}}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </span>
    </div>
    <div class="doc-content-container" data-parent-id={{this.id}} data-parent-type="Section">
      {{>doc-content}}
    </div>
{{/each}}

<div class="new-content">
  <!--<span contenteditable="true" class="new-content-input">
    <div class="{{this.style}}"></div>
  </span>-->
  <input class="level-{{this.style}}-plus new-content-input" placeholder="enter new content"></input>
</div>
